---
export const prerender = true;
import Layout from "@layouts/Layout.astro";

import { getCollection } from "astro:content";
import Heading from "../../components/Text/Heading.svelte";
import Link from "../../components/Text/Link.svelte";
const rezepte = await getCollection("rezepte");
// const nudeln = await getEntryBySlug("rezepte", "nudeln")
---

<Layout title="Rezepte">
  <main class="">
    <div class="container mx-auto">
      <Heading text="Rezepte" tag="h1" vSize="mega" />
      {
        rezepte && (
          <ul class="mt-4 grid grid-cols-2 gap-8">
            {rezepte.map((rezept) => {
              return (
                <li class="rounded-md border border-gray-300 hover:border-gray-200 p-4 shadow-lg hover:shadow-sm transition relative hover:translate-y-0.5 flex flex-col gap-4">
                  <Heading text={rezept.data.title} />

                  {rezept.data.portions && (
                    <span>
                      {rezept.data.portions > 1 ? `Portionen: ` : `Portion: `}
                      <label>
                        <input
                          type="number"
                          class="border rounded-md border-gray-500 px-2 py-1"
                          value={rezept.data.portions}
                        />
                      </label>
                    </span>
                  )}

                  {rezept.data.ingredients.length > 0 && (
                    <table class="table-fixed [&_td]:px-4 [&_td]:py-2">
                      <thead class="font-bold bg-slate-900 text-white">
                        <tr>
                          <th>Name</th>
                          <th>Quantity</th>
                          <th>Unit</th>
                          <th>Note</th>
                        </tr>
                      </thead>
                      <tbody>
                        {rezept.data.ingredients.map((item) => {
                          return (
                            <tr class="even:bg-slate-100">
                              <td>{item.name}</td>
                              <td>{item.quantity}</td>
                              <td>{item.unit}</td>
                              <td>{item.note}</td>
                            </tr>
                          );
                        })}
                      </tbody>
                    </table>
                  )}

                  {rezept.data.spices && rezept.data.spices.length > 0 && (
                    <table class="table-fixed [&_td]:px-4 [&_td]:py-2">
                      <thead class="font-bold bg-slate-900 text-white">
                        <tr class="font-bold">
                          <th>Name</th>
                          <th>Note</th>
                        </tr>
                      </thead>
                      <tbody>
                        {rezept.data.spices.map((item) => {
                          return (
                            <tr class="even:bg-slate-100">
                              <td>{item.name}</td>
                              <td>{item.note}</td>
                            </tr>
                          );
                        })}
                      </tbody>
                    </table>
                  )}

                  <Link
                    href={`${rezept.collection}/${rezept.slug}`}
                    text="Details"
                  />
                </li>
              );
            })}
          </ul>
        )
      }
    </div>
  </main>
</Layout>
