---
import '@css/app.css';
import {getCollection} from "astro:content";
import {createNav} from "@utils/createNav";
import Header from "@components/Framework/Header.svelte";
import Jetbrains from "./partials/Jetbrains.astro";
import Merriweather from "./partials/Merriweather.astro";
import {prevent_default} from "svelte/internal";
export interface Props {
  title: string;
}

const team = await getCollection("team");

const {title} = Astro.props;
const NAV_ITEMS = createNav(team);
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <meta name="generator" content={Astro.generator}/>
  <title>{title}</title>
</head>
<body>
<Jetbrains/>
<Merriweather/>
<div class="w-full min-h-screen pt-36 relative">
  <Header/>
  <main class="">
    <slot/>
  </main>
  <div class="fixed inset-0 z-50 border border-[1rem] border-foreground pointer-events-none"></div>
</div>
</body>
</html>
